html {
	margin: 0;
	padding: 0;
    background: url(https://www.teahub.io/photos/full/29-294240_russia-wallpaper-4k.jpg) no-repeat;
    background-size: cover;
	}

.links{
    background-color:rgba(245, 222, 179, 0.781);
    height: 1em;
    margin: -0.5em;
    padding: 0.5em;
    font-size: 2.5em;
}

a{
    margin-left: 1.3em;
	font-weight: bold; 
	text-decoration: none; 
	color: #3e3e3f;
}

.russia{
    text-align: center;
    margin-top: 6%;
    font-size: 3em;
	background: linear-gradient(to bottom, white, blue,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	color: #0000ff;
    font-weight: 700;
}


h1{
    margin-left: 2em; 
}

img{
    border-radius: 100px;
    max-width: auto;
	max-height: 2em;
}

p { 
	margin-top: 0; 
	text-align: justify;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #3e3e3f;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #2d2b30;
	}
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #000000;
}

ul{
	float: center;
    font-family: Georgia;
    font-size: large;
	list-style-type: none;
  	margin: 1em;
  	padding: 0;
  	overflow: hidden;
}

li{
	float: right;
	display: block;
 	color: white;
 	text-align: center;
  	text-decoration: none;
}

footer{
	bottom: 0;
	position: relative	;
	text-align: center;
	background-color: rgba(190, 190, 190);
}

li{
	color: #000000;
}

.regioes{
	float: none;
}

.imagem{
	max-height: 10em;
    border-radius: 30px;
    margin-left: 2em; 
    border: 8px ridge rgba(150, 121, 67, 0.747);
}

body { 
	line-height: 1.88889;
	background-color: #ffffff98; 
    padding: 0;
    border-radius: 30px;
    min-height: 43em;
	padding-bottom: 1em;
}